<% if obj.errors.any? %>
<h3>There are some error that prohibited <%= obj.class.name.downcase %> to create a post</h3>
<ul>
 <% obj.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
<% end %>